p {
  color: var(--color);
  text-align: left;
}

.sendedMessage {
  background-color: #88a788;
  border-radius: 10px 10px 0px 10px;
  padding: 7px 10px 7px 10px;
  margin-bottom: 15px;
  max-width: 75%;
  width: fit-content;
  text-align: right;
  margin-left: auto;
}

.receivedMessage {
  background-color: rgba(215, 215, 215, 0.3);
  border-radius: 10px 10px 10px 0px;
  padding: 7px 10px 7px 10px;
  margin-bottom: 15px;
  max-width: 75%;
  width: fit-content;
}
