.Header {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  align-items: center;
  background-color: #282a36;

  border: 0px;

  border-bottom: #555764 solid 1px;
}

.Header h1 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.Header-logo {
  display: flex;
  align-items: center;
}

.Header-logo h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.Header-logo img {
  margin: 0px;
  width: 18%;
  margin-right: 10px;
}

.Header-btns span {
  font-size: 22px;
  margin-left: 48px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
