p {
  color: rgb(43, 49, 35);
}

.roomBox {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roomBox:hoover {
  cursor: pointer;

  background-color: rgb(43, 49, 35);

  transition: all 0.2s;
}
